.drag-line-parent {
  border: 1px solid red;
  position: fixed;
  z-index: 999;
  .drag-line {
    border-left: 1px solid gray;
    z-index: 999 !important;
  }
  .drag-line:hover {
    border-left: 3px solid gray;
    z-index: 999;
  }
}
