.editor-title {
  background: white;
  height: 60px;
  margin-left: 4px;
}

.catalog-tool-bar {
  height: 40px;
  margin: 0 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  .catalog-tool-btn {
    margin-top: 4px;
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    margin-right: 1px;
  }
  .catalog-tool-btn:hover {
    border: 1px solid black;
  }
  .catalog-tool-btn-icon {
    line-height: 33px;
    font-size: 20px;
    width: 100%;
  }
}
